@page
@model ClassProjectsUI.Pages.AboutModel
@{
    ViewData["Title"] = "About Site";
}
<section id="main">
    <h1>Welcome to Krystal's Class Assignments</h1>
    <p>
        Within this site you will find various c# practice assignments. Please Login to get started!

    </p>
</section>
