@page
@model ClassProjectsUI.Pages.Admin.IndexModel
@{
}

<h1>Login Success</h1>

<div>
    Select a Program to get started or use the navigation bar
    <div class="">
        <ul class="">
            <li class="">
                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Vacation_Budget_Planner">Budget Planner</a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Calculator">Calculator</a>
            </li>
        </ul>
    </div>
</div>